<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Details</title>
    <link rel="stylesheet" href="/task.css">
</head>
<body>

    <div class="container">
        <center>
        <h1>Task Details</h1>
        </center>

        <div class="task-box">
            <h3><%= task.title %></h3>
            <a href="/tasks" class="btn">Back to Tasks</a>
        </div>
    </div>

</body>
</html>
